.about {
    padding: 51px 0 57px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
    &__item {
        width: 360px;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__text {
        margin-top: 27px;
    }
    &__title {
        font-size: 18px;
    }
}