.promo {
    background: url('../../img/bg/promo__bg.jpg') center center/cover no-repeat;
    padding: 23px 0 82px 0;
    &__topheader {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: $white-color;
        margin-top: 10px;
    }
    &__header {
        font-size: 72px;
        font-weight: bold;
        font-stretch: condensed;
        text-align: center;
        text-transform: uppercase;
        color: $orange-color;
        margin: 0;
        padding: 0;
        margin-top: 26px;
    }
    &__subheader {
        font-size: 42px;
        font-stretch: condensed;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: $white-color;
        margin-top: 9px;
    }
    &__divider {
        position: relative;
        width: 809px;
        display: block;
        margin: 38px auto 0 auto;
        &>div {
            display: block;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            border-radius: 100%;
            &::before,
            &::after {
                display: block;
                content: "";
                width: 390px;
                height: 1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #ffffff;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    &__item {
        width: 260px;
        img {
            height: 48px;
            display: block;
            margin: 0 auto;
        }
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        text-align: center;
        color: $white-color;
        margin-top: 16px;
    }
    &__btn {
        margin: 39px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: bold;
    }
}